Employee/ReportXML/Daily_OrderProcessed.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT DailyOrderRecord (Record)>
<!ELEMENT Record (OrderPaid,OrderCanceled, Date, AmountPaid, OrderTypeCount)>
<!ATTLIST Record recordID ID #REQUIRED>
<!ELEMENT OrderPaid (#PCDATA)>
<!ELEMENT OrderCanceled (#PCDATA)>
<!ELEMENT Date (#PCDATA)>
<!ELEMENT AmountPaid (#PCDATA)>
<!ELEMENT OrderTypeCount (DeliveryCount, PickupCount)>
<!ELEMENT DeliveryCount (#PCDATA)>
<!ELEMENT PickupCount (#PCDATA)>

