LeeThianXin/View/catalogItem.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!ELEMENT CatalogRecord (CatalogRow+)>
<!ELEMENT CatalogRow (OrderDetailsID, OrderID, ProductCode, Quantity, UnitPrice)>
<!ATTLIST CatalogRow productCode ID #REQUIRED>
<!ELEMENT OrderDetailsID (#PCDATA)>
<!ELEMENT OrderID (#PCDATA)>
<!ELEMENT ProductCode (#PCDATA)>
<!ELEMENT Quantity (#PCDATA)>
<!ELEMENT UnitPrice (#PCDATA)>



